.products-categories {
  margin-top: 120px;
  text-align: center;
}

.category-pill {
  box-sizing: border-box;
  border: 1px solid #7d7d7d;
  color: #7d7d7d;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  padding: 4px 8px;
  margin: 6px 12px;
  width: 160px;
  display: inline-block;
  transition-duration: 0.3s;
  position: relative;

  &.focused {
    border-color: #E86D61;
    color: #E86D61;
  }

  .close-icon {
    position: absolute;
    right: 10px;
  }
}
